.menu-item {
  padding: 5px 10px; /* Reduz o espaçamento interno */
  cursor: pointer; /* Cursor de ponteiro ao passar o mouse */
  transition: background-color 0.3s; /* Transição suave para a cor de fundo */
  width: 284px;
  height: 50px;
  border: 1px solid transparent; /* Borda transparente para manter o layout */
  display: flex;
  align-items: center;
}
.menu-item:hover {
  background-color: #0d5b8c;
}
.menu-item.highlighted {
  background-color: #2980b9;
}
.menu-item .label {
  color: #000000;
  font-weight: bold; /* Define o peso da fonte */
  flex: 1; /* Permite que o texto ocupe o espaço restante */
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 18.29px; /* Mantém a linha consistente */
}
.logo-container {
  background-color: #eceaea;
  width: 1594px;
  height: 100px;
  display: flex;
  justify-content: left;
  align-items: center;
}
.logo {
  width: 254.14px;
  height: auto; /* Ajusta a altura automaticamente para manter a proporção */
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.5); /* 30% de opacidade */
}
.logo-container .icon {
  height: 50px;
  width: auto;
  margin-right: 10px;
}
